body{
    color: #205781;
    background-color: #98D2C0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: sticky;
    top: 0;
    font-size: 25px;
    font-weight: bold;
    background-color: #98D2C0;
    text-align: center;
}

h1,h2,h3{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h1{
    color: #F6F8D5;
    font-weight: bold;
    background-color: #205781;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.border{
    border:#4F959D 3px solid ;
}

h2{
    text-decoration:underline;
    margin-bottom: 0;
}

#navigation{
    position: fixed;
    width: 300px;
    text-transform: uppercase;
    height: 100%;
    border-right: solid;
    background-color: #98D2C0;;
}


#navigation li{
    list-style: none;
    border-top: 1px solid;
    padding: 14px 0;
    font-size: large;
}

.link{
    text-decoration: none;
    color: inherit;
    padding-left: 20px;
}

#navigation ul{
    padding: 0;
}

main{
    margin-left: 310px;
}

main{
    text-align: center;
}

main li{
    text-align: left;
}

main li::marker{
    font-weight: bold;
}

.detail{
    font-size: 20px;
    text-align: center;
    font-weight: 150;
}

img{
    width: 200px;
    border-radius: 5px;
}

section{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 20px;
    background-color: #F6F8D5;
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

#reference a{
    color: #205781;
}

#reference a:hover{
    font-weight: bold;
}

#reference a:visited{
    color: #4F959D;
}

@media (max-width: 768px) {
    #navigation{
        position: sticky;
        height: 200px;
        overflow-y: scroll;
        width: auto;
        border: solid;
    }

    main{
        margin: 0;
    }

}